/* Fonts */
@font-face {
  font-family: 'Rubik-Light';
  src: url('../otf/Rubik-Light.otf');
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url('../otf/Rubik-Medium.otf');
}
@font-face {
  font-family: 'Rubik';
  src: url('../otf/Rubik-Regular.otf');
}
body {
	font-family: 'Rubik';
}

/* Icons */
@import url(http://weloveiconfonts.com/api/?family=typicons);

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

/* Debug */
#resume { background-color: white }
/*header { background-color: green }*/
/*main { background-color: blue }*/
/*section { background-color: cyan }*/
/*aside { background-color: magenta }*/
/*footer { background-color: yellow }*/
body { background-color: black }
/*body { margin: 0 0 10cm 0 } */


/* Reset */
ul {
	list-style-type: none;
	padding: 0;
}

/* Structure */
body { font-size: 1.2em }
#resume {
	box-sizing: border-box;
	padding: 2.5em;
  width: 50em;
}

header {
	padding-bottom: 2.5em;
}

main:after {
	content: "";
	display: table;
	clear: both;
}

section, aside {
	float: left;
}

section {
	width:30em;
}

aside {
	padding-left: 2em;
	padding-left: 2.5em;
	width: 12.5em;
}

/* Print */
@page {
	size: A4;
}

/* Elements */

button {
	background-color: #fff;
  border: 1px solid #000;
	border-radius: 0.2em;
	color: #000;
	float: right;
	height: 3em;
	margin: 0.3em;
	padding: 0;
	overflow: hidden;
	text-align: center;
	width: 3em;
}

a:hover { color: red }
button:hover { border-color: red }
button:hover .fas { color: red }

h1, h2, h3, p, ul {
  margin: 0;
}

h2 { margin-top: 1.0em }
h3 { margin-top: 1.0em }
h3:first-child { margin-top: 0 }

p {
	text-align: justify;
}


/* Dark */
body, #resume, button, .fas {
	transition: all 0.3s;
}
body.dark,
.dark button {
  color: #fff;
}

.dark #resume,
.dark button { background-color: #000 }
.dark button { border-color: #fff }

.dark a:hover { color: yellow }
.dark button:hover { border-color: yellow }
.dark button:hover .fas { color: yellow }
