@font-face {
  font-family: 'Rubik';
  src: url('../otf/Rubik-Regular.otf');
}
@font-face {
  font-family: 'Rubik-Light';
  src: url('../otf/Rubik-Light.otf');
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url('../otf/Rubik-Medium.otf');
}

body {
  font-family: 'Rubik';
  line-height: 1.6em;
  margin: 0;
  padding: 30px;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

a {
  color: #aaa;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 10px 0 20px;
}

h2 {
  margin: 30px 0 7px;
}

h3 {
  margin: 30px 0 7px;
}

header:after, main:after {
  content: "";
  display: table;
  clear: both;
}

header, main {
  margin: 0 auto;
  width: 1000px;
}

p {
  margin: 30px 0;	
  text-align: justify;
}

.picture {
  border: 3px solid #000;
  border-radius: 1px;
  float: left;
  height: 120px;
  margin: 0 20px 0 0;
  width: 100px;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

table td {
  padding-right: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon:before {
  background-repeat:no-repeat;
  background-position: 0px 5px;
  content:'';
  display:inline-block;
  height:1em;
  padding: 0 5px 0 0;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  width:1em;
}

.icon-print:before {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M2 0v2h4V0H2zM.09 3C.03 3 0 3.04 0 3.09V5.9c0 .05.04.09.09.09H1v-2h6v2h.91c.05 0 .09-.04.09-.09V3.09C8 3.03 7.96 3 7.91 3H.1zM2 5v3h4V5H2z"/></svg>');
}

.icon-map:before {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M4 0C2.34 0 1 1.34 1 3c0 2 3 5 3 5s3-3 3-5c0-1.66-1.34-3-3-3zm0 1a2 2 0 0 1 2 2c0 1.11-.89 2-2 2a2 2 0 1 1 0-4z"/></svg>');
}

.icon-phone:before {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M1.19 0C1.08 0 1 .08 1 .19v7.63c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19V.19c0-.11-.08-.19-.19-.19H1.19zM2 1h3v5H2V1zm1.5 5.5c.28 0 .5.22.5.5s-.22.5-.5.5S3 7.28 3 7s.22-.5.5-.5z"/></svg>');
}

.icon-email:before {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M0 1v1l4 2 4-2V1H0zm0 2v4h8V3L4 5 0 3z"/></svg>');
}

.icon-message:before {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M6 0L5 1l2 2 1-1-2-2zM4 2L0 6v2h2l4-4-2-2z"/></svg>');
}

#theme-button {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M4 0C1.8 0 0 1.8 0 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3S5.66 7 4 7V1z"/></svg>');
}


header .button {
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000;
  border-radius: 1px;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 2em;
  margin: 0 0 0 .3em;
  overflow: hidden;
  text-indent: 3em;
  width: 2em;
}

header .contrast-button {
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 8 8"><path d="M4 0C1.8 0 0 1.8 0 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3S5.66 7 4 7V1z"/></svg>');
}


header li {
  margin: 0 0 5px 0;
}

main {
  position: relative;
}

article {
  float: left;
  width: 73%;
}

aside {
  float: right;
  width: 22%;
}

aside li {
  margin: 5px 0;
}

aside li span {
  float: right;
}

#message-form {
  background-color: #000;
  display: none;
  height: 100%;
  opacity: .9;
  position: absolute;
  top: 0;
  width: 100%;
}

